body {
	color: #222 !important;
}

.container-fluid {
	margin-top: 10px;
	position: absolute;
}

.feed {
	width: 60% !important;
	padding-top: 10px;
}

.linkedin {
	margin-left: 63% !important;
}

.linkedin h3 {
	font-size: 12px;
	border-bottom: 1px dotted;
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: normal;
}

#profile-picture {
	float: left;
}

#industry:after {
	content: " | ";
}

#profile-header-text {
	font-size: 18px;
	line-height: 22px;
	margin-left: 90px;
	padding-top: 10px;
}

#name {
	font-size: 30px;
	line-height: 36px;
}

#profile-picture {
	padding-top: 10px;
}

#specialties {
	margin-top: 10px;
}
#specialties:before {
	content: "Specialties: ";
	font-style: italic;
}

#skills {
	margin-top: 10px;
}
#skills:before {
	content: "Skills: ";
	font-style: italic;
}

.position-entry {
	margin-top: 10px;
	margin-bottom: 10px;
}

.position-name {
	font-size: 22px;
	line-height: 26px;
}

.position-date {
	font-size: 11px;
	color: #666;
}

.position-summary {
	
}

.school-entry {
	margin-top: 10px;
	margin-bottom: 10px;
}

.school-name {
	font-size: 22px;
	line-height: 26px;
}

.school-degree {
	
}

.school-date {
	font-size: 11px;
}

.school-activites {
	
}

.school-activities:before {
	content: "Activities: ";
	font-style: italic;
}