body, html {
	color: #222 !important;
	
	background: rgb(67,224,224);
	background-image: linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	
	background-attachment: fixed;
	
	overflow: hidden;
	font-size: 15px !important;
	line-height: 20px !important;
}

body {
	padding-top: 40px !important;
}


#pattern {
	background-image: url(/images/white_leather.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

#pattern > .container {
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #FFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
}

#page {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	padding-bottom: 5px !important;
	border-bottom: 1px dotted !important;
	font-weight: normal !important;
}

#profile h1 {
	padding-bottom: 10px !important;
	font-size: 12px;
	line-height: 10px;
	border-bottom: 1px dotted;
	margin-top: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#profile-picture {
	float: left;
}

#industry:after {
	content: " | ";
}

#profile-header-text {
	font-size: 18px;
	line-height: 22px;
	margin-left: 90px;
}

#name {
	font-size: 30px;
	line-height: 36px;
}

#specialties {
	margin-top: 10px;
}
#specialties:before {
	content: "Specialties: ";
	font-style: italic;
}

#skills {
	margin-top: 10px;
}
#skills:before {
	content: "Skills: ";
	font-style: italic;
}

.position-entry {
	margin-bottom: 10px;
}

.position-name {
	font-size: 22px;
	line-height: 26px;
}

.position-date {
	font-size: 11px;
	color: #666;
}

.position-summary {
	
}

.school-entry {
	margin-bottom: 10px;
}

.school-name {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0px;
}

.school-degree {
	
}

.school-date {
	font-size: 11px;
	color: #666;
}

.school-activites {
	
}

.school-activities:before {
	content: "Activities: ";
	font-style: italic;
}

.feed-entry {
	margin-top: 15px;
	margin-bottom: 15px;
}

.feed-entry-content {
	
}

.feed-entry-time {
	
}
.feed-entry-time:after {
	content: " via ";
}

.feed-entry-source {
	
}

.feed-entry-metadata {
	color: #666;
	font-size: 11px;
}