body, html {
	color: #222 !important;
	
	background: rgb(67,224,224);
	background-image: linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(22,106,186) 0%, rgb(102,215,249) 100%);
	
	background-attachment: fixed;
	
	overflow: hidden;
	font-size: 15px !important;
	line-height: 20px !important;
}

body {
	padding-top: 40px !important;
}


#pattern {
	background-image: url(/images/white_leather.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

#pattern > .container {
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: #FFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .4);
}

#page {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-weight: normal !important;
	margin-bottom: 5px !important;
	padding-bottom: 5px !important;
}

h2 {
	font-weight: normal !important;
	line-height: 10px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px !important;
	margin-bottom: 5px !important;
	padding-left: 5px !important;
	text-align: left !important;
}

h3 {
	font-weight: normal !important;
	font-size: 22px !important;
	line-height: 26px !important;
	text-align: left !important;
}

h4 {
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 22px !important;
}

#activity {
	padding-left: 5px;
}
#profile h2 {
	padding-top: 15px !important;
	margin-top: 10px;
	padding-bottom: 0px !important;
	text-decoration: underline;
}

#profile-header {
	padding-left: 5px;
	padding-right: 5px;
}

#profile-picture {
	float: left;
}

#industry:after {
	content: " | ";
}

#profile-header-text {
	font-size: 18px;
	line-height: 22px;
	margin-left: 90px;
}

#name {
	font-size: 30px;
	line-height: 36px;
}

#profile-body {
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

#summary {
	margin-top: 15px;
}

#specialties {
	margin-top: 10px;
}
#specialties:before {
	content: "Specialties: ";
	font-style: italic;
}

#skills {
	margin-top: 10px;
}
#skills:before {
	content: "Skills: ";
	font-style: italic;
}

.profile-toggle {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 5px;
	border-top: 4px solid rgba(0, 0, 0, .2);
	height: 5px;
	width: 390px;
	position: absolute;
}

.profile-toggle:hover {
	border-top: 4px solid rgba(0, 0, 0, .3);
}

#expand-profile:after {
	font-weight: bold;
	font-size: 10px;
	color: rgba(0, 0, 0, .4);
	position: absolute;
	content: 'MORE';
	height: 0;
	width: 0;
	
	/*border: 5px solid transparent;
	border-top-color: rgba(0, 0, 0, .2);*/
	left: 45%;
	top: -12px;
}

#expand-profile:hover:after {
	color: rgba(0, 0, 0, .5);
}

#collapse-profile:after {
	position: absolute;
	content: ' ';
	height: 0;
	width: 0;
	
	border: 5px solid transparent;
	border-bottom-color: rgba(0, 0, 0, .2);;
	left: 48%;
	top: -14px;
}

#collapse-profile:hover:after {
	border-bottom-color: rgba(0, 0, 0, .3);;
}

#collapse-profile {
	display: none;
}

#expanded-profile {
	display: none;
}

.position-entry {
	margin-bottom: 10px;
}

.position-name {
	font-size: 22px;
	line-height: 26px;
}

.position-date {
	font-size: 11px;
	color: #666;
}

.position-summary {
}

.school-entry {
	margin-bottom: 10px;
}

.school-name {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0px;
}

.school-degree {
	
}

.school-date {
	font-size: 11px;
	color: #666;
}

.school-activites {
	
}

.school-activities:before {
	content: "Activities: ";
	font-style: italic;
}

#projects {
	margin-top: 20px;
	padding: 10px;
	padding-left: 5px;
}

.project {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.project-description {
	text-align: justify;
}

.feed-entry {
	padding: 15px;
	text-align: justify;
}

.feed-entry-content {
	
}

.feed-entry-time {
	
}
.feed-entry-time:after {
	content: " via ";
}

.feed-entry-source {
	
}

.feed-entry-metadata {
	color: #666;
	font-size: 11px;
}

.feed-entry {
	border-top: 1px solid rgba(0,0,0,.2);
}

.blogger-title {
}