<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set		 -->
<!-- the browser's rendering engine into					 -->
<!-- "Quirks Mode". Replacing this declaration		 -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.	 -->

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Bit By Bit, Nibble By Nibble</title>
		<link rel="stylesheet" href="/css/circadian.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- <link rel="stylesheet/less" href="/less/bootstrap.less"> -->
		<!-- <script src="/js/less-1.1.5.min.js"></script> -->
		<script src="http://platform.twitter.com/anywhere.js?id=zJZZaMwxVDKv4fCjooMw&v=1" type="text/javascript"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21817422-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			
			${sources}
			
			var pageNum = ${pageNum};
		</script>
	</head>

	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<a class="brand" href="#">${name}</a>
					<ul class="nav">
						<#list links as link>
						<li>
							<a href="${link.link}">${link.name}</a>
						</li>
						</#list>
					</ul>
				</div>
			</div>
		</div>
		<div id="pattern">
			<div class="container">
				<div id="page">
					<div class="row">
						<div class="span5">
							<h1>Activity</h1>
							<div id="feed">
							</div>
						</div>
						<div class="span4">
							<div id="profile">
								<div id="profile-header">
									<img id="profile-picture" />
									<div id="profile-header-text">
										<a id="profile-link">
											<div id="name"></div>
										</a>
										<div id="headline"></div>
									</div>
								</div>
								<div>
									<div id="summary"></div>
								</div>
								<div>
									<div id="skills"></div>
								</div>
								<div id="expanded-profile">
									<div>
										<h2>Education</h2>
										<div id="educations"></div>
									</div>
									<div>
										<h2>Experience</h2>
										<div id="positions"></div>
									</div>
									<div>
										<h2>Honors</h2>
										<div id="honors"></div>
									</div>
									<div>
										<h2>Interests</h2>
										<div id="interests"></div>
									</div>
									<div>
										<h2>Publications</h2>
										<div id="publications"></div>
									</div>
									<div>
										<h2>Patents</h2>
										<div id="patents"></div>
									</div>
									<div>
										<h2>Languages</h2>
										<div id="languages"></div>
									</div>
									<div>
										<h2>Certifications</h2>
										<div id="certifications"></div>
									</div>
								</div>
								<div id="expand-profile" class="profile-toggle"></div>
								<div id="collapse-profile" class="profile-toggle"></div>
								<div id="projects">
									<h3>Projects</h3>
									<#list projects as project>
									<div class="project">
										<h4><a href="${project.url}" class="project-name">${project.name}</a></h4>
										${project.description}
									</div>
									</#list>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript" src="/js/circadian.js"></script>
	</body>
</html>